
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Lato&family=Montserrat&family=Open+Sans&family=Oswald&family=Palette+Mosaic&family=Poppins&family=Red+Hat+Mono&family=Roboto+Condensed&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap");

.hurricane {
  font-family: "Hurricane", cursive;
}

.inspiration {
  font-family: "Inspiration", cursive;
}

.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.palette {
  font-family: "Palette Mosaic", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.red {
  font-family: "Red Hat Mono", monospace;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.source {
  font-family: "Source Sans Pro", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1fr;
}

.box {
  border: 1px solid white;
  margin: 1rem;
  padding: 1rem;
  height: 250px;
  border-radius: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.header {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

body {
  line-height: 1.5;
  background-color: grey;
  color: rgb(207, 203, 203);
}

input {
  width: 250px;
  padding: 0.5rem;
  background-color: grey;
  color: rgb(207, 203, 203);
}